{% extends 'base.html' %}

{% block title %}
    <div class="row center-block">
        <div class="col l8 offset-l2">
            <div class="col l4">
                <img src="/static/img/unini2.png" class="responsive-img">
            </div>
            <div class="col l8 center-align">
                <h2 class="center-align">Doctorado en Proyectos</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col l6">
            <img src="/static/img/f2.png" height="100%" width="100%">
        </div>
        <div class="col l5 offset-l1">
            <div class="col l12">
                <a href="/simulator_process" style="font-size=5px;">
                    <img src="/static/img/settings_256.png" height="30%" width="30%">Simulador
                </a>
            </div>
            <div class="col l12">
                <a href="/detector_process">
                    <img src="/static/img/settings_256.png" height="30%" width="30%">Detector
                </a>
            </div>
            <div class="col l12">
                <a href="/process">
                    <img src="/static/img/settings_256.png" height="30%" width="30%">Programar
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="center-align">Modelo para simulación y detección de fallas en Sistemas Productivos bajo el enfoque de la Gestión de Mantenimiento y de Proyectos</h4>
    </div>
{% endblock %}