{% extends 'base.html' %}

{% block contenido %}
    <div class="row">
        {% if process and process|length > 0%}
            <ul class="collection with-header">
            <li class="collection-header"><h4>Simulador-Procesos</h4></li>
                {% for proces in process %}
                    <a href="fail_simulator?id={{ proces.id }}" class="collection-item">
                        {{ proces.name }}
                    </a>
                {% endfor %}
          </ul>
        {% else %}
            <h4 class="red-text"> No hay Procesos registrados</h4>
        {% endif %}
    </div>

    <div class="row">
        <div class="col l4 center-align offset-l4">
            <a href="/" class="btn waves-effect blue">Salir<i class="material-icons right">home</i></a>
        </div>
    </div>

{% endblock %}

{% block init %}
    {% if msg %}
        $('.tooltipped').tooltip({delay: 50});
        Materialize.toast('{{ msg }}', 4000)
    {% endif %}
    $('.modal').modal();
{% endblock %}

{% block script %}

{% endblock %}